:root{
    --main-theme-color:white;
    --secondary-color:white;
}
*, *:before, *:after {
    box-sizing: border-box;
}
body{
    font: 1.2rem "Fira Sans", sans-serif;
}
  
@media only screen and (max-width:600px){
    main{       
        min-height:100vh !important;
        display:flex !important;
        flex-direction: column !important;
    }
    aside{
        flex:2;
    }
    h1{
        font-weight:800 !important;
        font-size:1.5rem;
        flex:1;
    }
    form{
        display: flex !important;
        flex-direction: column !important;
        flex:3;
    }

    .check{
        /* margin-top:20px;
        margin-bottom:0px; */
        line-height: 15px !important;
    }
   
}


aside,
main,
footer,
h1{
    border:1px solid rgb(224, 98, 98);
    margin:0;
}

main{
    display:grid;
    grid-template-areas:
        "aside aside h1 h1 h1"
        "aside aside form form form"
        "aside aside form form form"
        "aside aside footer footer footer";
    grid-template-columns: repeat(5, 1fr);
    height:100vh;
}

aside{
    grid-area: aside;
    background-image: url("./images/1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    grid-area:h1;
    display:flex;
    align-items: center;
    padding:0 50px;
    text-align: center;
}
/* form start */
form{
    grid-area: form;
    display:grid;
    grid-template-areas:
    "div div"
    "div div"
    "div div"
    "check check";
    grid-template-columns: repeat(2, 1fr);
    padding: 30px 50px;
    place-items: center;
}
.inputs{
    display:flex;
    flex-direction: column;
    gap: 5px;
    font-size: 1rem;
}

.check{
    grid-area: check;
    margin-top:20px;
    margin-bottom:0px;
    line-height: 0px;
    font-size: .9rem;
}

.btn{
    margin: 25px auto;
    display:flex; 
    justify-content: center;
    font-size: 1.2rem;
}
button{
    padding:5px 20px;
    border-radius: 10px;
}

.have-account{
    text-align: center;
    font-size: 1rem;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"]{
    display:block;
    width: 250px;
}
/* form end */

footer{
    grid-area:footer;
    display:flex; 
    justify-content: center;
    align-items: flex-end;
    font-size:.8rem;
}


